.cmp-article-item {
	display: flex;
	flex-direction: column-reverse;
	margin: 4rem 0;

	&__title,
	&__meta {
		margin: 0;
	}

	&__title {
		font-family: var(--font-primary);
		font-size: var(--font-size-fluid-6);
		font-stretch: var(--font-stretch-10);
		font-weight: var(--font-weight-9);
		margin-block: 0;
		line-height: 1;
	}

	&__title-link {
		--color: hsl(var(--color-mode-gray-000-hsl) / 50%);
		background-image: linear-gradient(var(--color), var(--color)), var(--gradient);
		background-attachment: fixed;
		background-blend-mode: overlay, normal;
		background-clip: text;
		text-decoration: none;
		color: transparent;
	}

	&__title-link:hover {
		--color: hsl(var(--color-mode-gray-000-hsl) / 100%);
		// color: color-mix( in srgb, var(--color-mode-gray-18) 40%, var(--color-primary));
	}

	&__collaborators {
		margin: 0;
		order: -1;
		font-size: var(--font-size-4);
		font-variation-settings: var(--primary-var-regular);
	}
}
