.cmp-article-item {
	display: flex;
	flex-direction: column-reverse;
	margin: 4rem 0;

	&__title,
	&__meta {
		margin: 0;
	}

	&__title {
		font-family: var(--font-primary);
		font-variation-settings: var(--secondary-var-heavy);
		font-size: var(--font-lg);
		font-weight: inherit;
		margin-block: 0;
		line-height: 1;
	}

	&__link {
		color: var(--color-alt);
		text-decoration: underline;
		text-decoration-thickness: 0.0625em;
		text-underline-offset: 0.125em;
		text-decoration-color: var(--link-underline);
		transition: color var(--animation-duration) var(--animation-timing), text-decoration-color var(--animation-duration) var(--animation-timing);
		font-variation-settings: var(--primary-var-regular);
	}

	&__link:hover {
		color: var(--color-text);
		text-decoration-color: var(--color-primary);
	}


	&__meta {
		font-family: var(--font-monospace);
		font-variation-settings: 'wdth' 125, 'wght' 600;
		font-size: var(--font-xs);
		display: flex;
		align-self: start;
		gap: var(--space-md);
		// margin-bottom: var(--space-sm);
		padding: var(--space-1xs) var(--space-sm);
		border-radius: var(--space-1xs);
	}

	&__date {
		color: var(--color-gray-4);
		font-variation-settings: 'wdth' 125, 'wght' 600;
	}

	&__source {
		color: var(--color-primary);
		font-variation-settings: 'wdth' 125, 'wght' 800;
	}

	&__collaborators {
		margin: 0;
		order: -1;
		font-size: var(--font-sm);
		font-variation-settings: var(--primary-var-regular);
	}
}
