.cmp-article-card {
	list-style: none;
	margin: 0 0 var(--space-lg);
	padding: 0;
	display: grid;
	gap: 1rem;

	&--two-col {
		@container (min-width: 30rem) {
			grid-template-columns: 1fr 1fr;
		}
	}

	&__item {
		align-self: stretch;
		display: flex;
		align-items: stretch;
		font-family: var(--font-primary);
		font-size: var(--font-size-fluid-3);
		font-weight: var(--font-weight-5);
		font-stretch: var(--font-stretch-10);
	}

	&__link {
		position: relative;
		display: flex;
		flex-direction: column;
		width: 100%;
		box-sizing: border-box;
		padding: var(--space-2);
		color: var(--color-text);
		border-radius: var(--radius-1);
		background-color: hsl(var(--color-mode-gray-0-hsl) / 40%);
		transition:
			scale var(--animation-duration) ease-in-out,
			background-color var(--animation-duration) ease-in-out,
			color var(--animation-duration) ease-in-out;

		@media (prefers-color-scheme: dark) {
			background-color: hsl(var(--color-mode-gray-14-hsl) / 15%);
		}

		&:hover {
			scale: 1.025;
			background-color: hsl(var(--color-mode-gray-0-hsl) / 100%);
		}
	}

	&__meta {
		font-family: var(--font-monospace);
		font-size: var(--font-size-0);
		font-weight: var(--font-weight-3);
		display: flex;
		align-self: start;
		gap: var(--space-sm);
		margin-block-end: var(--space-1);
	}

	&__collaborators {
		font-family: var(--font-monospace);
		font-size: var(--font-size-0);
		font-weight: var(--font-weight-4);
		color: var(--color-mode-gray-14);
		margin-block-start: var(--space-1);
	}

	&__source {
		color: var(--color-primary);
		font-weight: var(--font-weight-6);
	}

	&__title {
		position: relative;
		z-index: var(--z-2);
		font-size: var(--font-md);
		line-height: 1.2;
	}
}
