.cmp-button {
  unset: all;
  margin: 0;
  text-decoration: none;
  border: none;
  appearance: none;
  text-align: center;
  display: inline-block;
  font-size: var(--font-size-3);
  padding: var(--space-1) var(--space-2);
  border-radius: var(--radius-1);
  color: var(--color-mode-gray-1);
  font-weight: var(--font-weight-4);
  font-stretch: var(--font-stretch-10);
  background-color: var(--color-mode-gray-15);
  will-change: transform;
  transition:
    scale var(--animation-duration) ease-in-out,
    background-color var(--animation-duration) ease-in-out,
    color var(--animation-duration) ease-in-out;

  &:hover {
    scale: 1.025;
    background-color: var(--color-mode-gray-000);
  }

  &--small {
    border-radius: var(--radius-0);
    padding: var(--space-0) var(--space-2);
    font-size: var(--font-size-1);
    font-weight: calc(var(--font-weight-4) + 50);
  }
}
