.cmp-button {
  margin: 0;
  text-decoration: none;
  border: none;
  appearance: none;
  text-align: center;
  display: inline-block;
  font-size: var(--font-size-3);
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-1);
  color: var(--color-mode-gray-1);
  font-weight: var(--font-weight-4);
  font-stretch: var(--font-stretch-10);
  background-color: var(--color-mode-gray-15);
  will-change: transform;
  transition:
    transform var(--animation-duration) ease-in-out,
    background-color var(--animation-duration) ease-in-out,
    color var(--animation-duration) ease-in-out;

  &:hover {
    background-color: var(--color-mode-gray-13);
    transform: translateY(-4px);
  }

  &--gradient {
    transform: translateY(calc(var(--space-1xl) * -1));

    &:hover {
      transform: translateY(calc((var(--space-1xl) * -1) - 4px));
    }
  }

  &--small {
    padding: var(--space-1xs) var(--space-md);
    font-size: var(--font-size-1);
    font-weight: 450;
  }
}
