.cmp-home-section {
	&__header {

	}

	&__title {
		font-size: var(--font-size-3);
		font-weight: var(--font-weight-6);
		font-stretch: var(--font-stretch-11);
	}

	&__subtitle {
		margin-block: var(--size-2) var(--size-4);
		padding-block-end: var(--size-2);
		font-family: var(--font-code);
		color: var(--grey-invert-6);
		position: relative;

		&::after {
			position: absolute;
			inset-block-end: 0;
			content: '';
			display: block;
			width: 10ch;
			border-block-start: var(--border-size-1) solid var(--mango-00);
		}
	}

	&__post-title {
		font-size: var(--font-size-4);
		font-weight: var(--font-weight-6);
		font-stretch: var(--font-stretch-11);

		&--book {
			font-size: clamp(var(--font-size-4), 10vw, var(--font-size-6));
		}
	}

	&__post-link {
		background-image: linear-gradient(0deg, transparent 0, transparent 0.125em, var(--color-list-heading-link-surface) 0.125em, var(--color-list-heading-link-surface) 0.5em, transparent 0.5em);
		text-decoration-color: var(--color-list-heading-link-line);
		text-decoration-thickness: 1px;
		text-decoration-line: underline;
		text-underline-offset: 0.09em;
		transition-duration: 150ms;
		transition-timing-function: ease-in-out;
		transition-property: color, text-decoration-color;

		&:hover {
			color: var(--color-list-heading-link-hover);
			text-decoration-color: var(--color-list-heading-link-line-hover);
		}
	}

	&__post-image {
		overflow: hidden;
		box-sizing: border-box;
		max-inline-size: 100%;
		border-radius: var(--radius-2);
		border: var(--border-size-3) solid var(--grey-5);
	}

	&__post-meta {
		font-family: var(--font-code);
		font-stretch: var(--font-stretch-11);
		margin-block-start: var(--size-3);
	}

	&__footer {
		margin-block-start: var(--size-4);
	}

	&__footer-link {
		--time: 150ms;
		font-stretch: var(--font-stretch-11);
		font-size: var(--font-size-3);
		font-weight: var(--font-weight-5);
		color: var(--grey-5);
		text-transform: lowercase;
		transition: color var(--time) ease-in-out var(--time),
								font-weight var(--time) ease-in-out var(--time),
								text-shadow calc(var(--time) * 2) ease-in-out;

		&:hover {
			--shadow: var(--color-shadow-effect-azure);
			transition: color var(--time) ease-in-out,
									font-weight var(--time) ease-in-out,
									text-shadow calc(var(--time) * 2) ease-in-out;
			text-shadow:  1px  1px 0 var(--shadow),
										2px  2px 0 var(--shadow),
										3px  3px 0 var(--shadow),
										4px  4px 0 var(--shadow);

			color: var(--color-nav-effect-azure);
		}
	}
}
