@media (--lg-min) {
	.cmp-main {
		position: relative;
		min-height: 25vmax;

		&::before {
			content: '';
			display: block;
			position: absolute;
			inset: 0 max(-25rem, -15vw) -8rem;
			translate: max(-15rem, -10vw) -8rem;
			backdrop-filter: blur(0.5rem);
			mask-image: url('/assets/circle-mask.svg');
			mask-repeat: no-repeat;
			mask-position: top left;
			mask-size: 100% auto;
			background-color: var(--color-surface-transparent);
			z-index: var(--layer-00);
			pointer-events: none;
		}
	}
}
