@media (--lg-min) {
	.cmp-main {
		position: relative;

		&::before {
			content: '';
			display: block;
			width: 100%;
			height: calc(100% + 8rem);
			position: absolute;
			translate: -30vw -8rem;
			width: 100vw;
			backdrop-filter: blur(0.5rem);
			background-color: var(--color-surface-transparent);
			border-radius: 50vw 50vw 0 0;
			z-index: var(--layer-00);
		}
	}
}
