.cmp-meta {
	background-color: var(--color-primary);
	font-family: var(--font-monospace);
	font-weight: var(--font-weight-4);
	font-stretch: var(--font-stretch-8);
	font-size: var(--font-size-1);
	display: inline-flex;
	padding-inline: var(--space-1);
	align-self: start;
	color: var(--color-white);
	rotate: -2deg;
	translate: -0.75ch 0;
	transform-origin: 0% 100%;

	&__source {
		margin-inline: var(--space-1) calc(var(--space-1) * -1);
		padding-inline: var(--space-1);
		background-color: var(--color-black);
		color: color-mix( in srgb, var(--color-white) 30%, var(--color-primary));
		font-weight: var(--font-weight-6);
	}
}
