.cmp-meta {
	font-family: var(--font-monospace);
	font-weight: var(--font-weight-4);
	font-stretch: var(--font-stretch-8);
	font-size: var(--font-size-1);
	display: inline-flex;
	align-self: start;
	color: hsl(var(--color-mode-gray-000-hsl) / 90%);
	border-radius: var(--radius-0);
	margin-block-end: var(--space-1);

	&__date {
		padding-inline: var(--space-1);
		border-radius: var(--radius-0) 0 0 var(--radius-0);
		background-color: hsl(var(--color-mode-gray-000-hsl) / 5%);

		@media (prefers-color-scheme: dark) {
			background-color: hsl(var(--color-mode-gray-000-hsl) / 15%);
		}

		&:only-child {
			border-radius: var(--radius-0);
		}
	}

	&__source {
		padding-inline: var(--space-1);
		border-radius: 0 var(--radius-0) var(--radius-0) 0;
		background-color: hsl(var(--color-mode-gray-000-hsl) / 10%);

		@media (prefers-color-scheme: dark) {
			background-color: hsl(var(--color-mode-gray-000-hsl) / 20%);
		}
	}
}
