.cmp-nav {
	position: fixed;
	inset: 0;
	z-index: var(--layer-2);
	background-color: var(--black);
	display: flex;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: opacity ease 250ms;

	@media (--lg-min) {
		all: unset;
	}

	&--open {
		pointer-events: all;
		opacity: 1;
	}

	&__list {
		list-stlye: '';
		display: flex;
		flex-direction: column;
		margin: var(--size-2);
	}

	&__item {
		font-size: var(--font-size-fluid-3);
		text-transform: lowercase;
		display: flex;
		font-stretch: var(--font-stretch-11);
		width: 5ch;
	}

	&__link {
		font-weight: var(--font-weight-3);
		color: var(--color-text);
		transition: color 250ms ease-in-out 250ms,
								font-weight 250ms ease-in-out 250ms,
								text-shadow 500ms ease-in-out;

		&:hover {
			transition: color 250ms ease-in-out,
									font-weight 250ms ease-in-out,
									text-shadow 500ms ease-in-out;
			font-weight: var(--font-weight-5);
			text-shadow:  1px  1px 0 var(--phlox-00),
			              2px  2px 0 var(--phlox-00),
			              3px  3px 0 var(--phlox-00),
			              4px  4px 0 var(--phlox-00),
			              5px  5px 0 var(--phlox-00),
			              6px  6px 0 var(--phlox-00),
			              7px  7px 0 var(--phlox-00),
			              8px  8px 0 var(--phlox-00),
			              9px  9px 0 var(--phlox-00),
			             10px 10px 0 var(--phlox-00),
			             11px 11px 0 var(--phlox-00),
			             12px 12px 0 var(--phlox-00);

			// color: var(--phlox-00);
			// @media (--OSdark) {
			// 	color: var(--mango-00);
			// }
		}

		&--active {
			color: var(--color-text);
			font-weight: var(--font-weight-5);
			text-shadow:  1px  1px 0 var(--mango-00),
			              2px  2px 0 var(--mango-00),
			              3px  3px 0 var(--mango-00),
			              4px  4px 0 var(--mango-00),
			              5px  5px 0 var(--mango-00),
			              6px  6px 0 var(--mango-00),
			              7px  7px 0 var(--mango-00),
			              8px  8px 0 var(--mango-00),
			              9px  9px 0 var(--mango-00),
			             10px 10px 0 var(--mango-00),
			             11px 11px 0 var(--mango-00),
			             12px 12px 0 var(--mango-00);
			pointer-events: none;
		}
	}
}
