.cmp-nav-toggle {
	position: relative;
	z-index: var(--layer-4);
	width: 100%;
	display: block;
	aspect-ratio: 1 / 1;

	@media (--lg-min) {
		display: none;
	}

	&__button {
		box-sizing: border-box;
		width: 100%;
		aspect-ratio: 1 / 1;
		padding: calc(var(--size-1) + var(--size-2));
		display: flex;
		justify-content: center;
		align-content: center;
		border-radius: var(--radius-round);
		border: calc(var(--border-size-1) + var(--border-size-2)) solid var(--white);
		position: absolute;

		&:focus-visible {
			background-color: var(--phlox-00);
		}

		&--open {
			color: var(--color-toggle-open);
			background-color: var(--color-toggle-surface-open);

			.nav-open & {
				pointer-events: none;
				display: none;
			}
		}

		&--close {
			color: var(--color-toggle-close);
			background-color: var(--color-toggle-surface-close);

			body:not(.nav-open) & {
				pointer-events: none;
				display: none;
			}
		}
	}
	&__icon {
		width: 100%;
	}
}
