.cmp-nav {
	position: fixed;
	inset: 0;
	z-index: var(--layer-2);
	background-color: var(--color-surface);
	display: flex;
	pointer-events: none;
	opacity: 0;
	transition: opacity ease 250ms;
	height: 100vh;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	@media (--lg-min) {
		all: unset;
		font-size: var(--font-size-8);
		font-stretch: var(--font-stretch-11);
		width: 5ch;
		margin-inline-end: var(--size-3);
	}

	&--open {
		pointer-events: all;
		opacity: 1;
	}

	&__list {
		list-stlye: '';
		display: flex;
		flex-direction: column;
		margin-block: auto;
		margin-inline-start: var(--size-6);

		@media (--lg-min) {
			margin: 0;
		}
	}

	&__item {
		text-transform: lowercase;
		display: flex;
		font-size: var(--font-size-8);
		font-stretch: var(--font-stretch-11);
		width: 5ch;

		@media (--lg-min) {
			font-size: var(--font-size-fluid-3);
		}

		& + & {
			margin-block-start: var(--size-4);
		}
	}

	&__link {
		font-weight: var(--font-weight-3);
		color: var(--color-text);
		transition: color 250ms ease-in-out 250ms,
								font-weight 250ms ease-in-out 250ms,
								text-shadow 500ms ease-in-out;

		&:hover {
			--shadow: var(--color-shadow-effect-phlox);
			transition: color 250ms ease-in-out,
									font-weight 250ms ease-in-out,
									text-shadow 500ms ease-in-out;
			font-weight: var(--font-weight-5);
			text-shadow:  1px  1px 0 var(--shadow),
			              2px  2px 0 var(--shadow),
			              3px  3px 0 var(--shadow),
			              4px  4px 0 var(--shadow),
			              5px  5px 0 var(--shadow),
			              6px  6px 0 var(--shadow),
			              7px  7px 0 var(--shadow),
			              8px  8px 0 var(--shadow),
			              9px  9px 0 var(--shadow),
			             10px 10px 0 var(--shadow),
			             11px 11px 0 var(--shadow),
			             12px 12px 0 var(--shadow);

			color: var(--color-nav-effect-phlox);
		}

		&--active {
			--shadow: var(--color-shadow-effect-mango);
			color: var(--color-nav-effect-mango);
			font-weight: var(--font-weight-5);
			text-shadow:  1px  1px 0 var(--shadow),
			              2px  2px 0 var(--shadow),
			              3px  3px 0 var(--shadow),
			              4px  4px 0 var(--shadow),
			              5px  5px 0 var(--shadow),
			              6px  6px 0 var(--shadow),
			              7px  7px 0 var(--shadow),
			              8px  8px 0 var(--shadow),
			              9px  9px 0 var(--shadow),
			             10px 10px 0 var(--shadow),
			             11px 11px 0 var(--shadow),
			             12px 12px 0 var(--shadow);
		}
	}
}
