.cmp-notice {
	font-family: var(--font-code);
	font-stretch: var(--font-stretch-11);
	font-size: var(--font-size-2);
	font-weight: var(--font-weight-3);
	color: var(--grey-invert-9);
	max-inline-size: var(--size-content-2);
	border-radius: var(--radius-3);
	border: var(--border-size-1) solid var(--grey-invert-2);
	background-color: color-mix(in oklch, var(--grey-invert-1) 30%, transparent);
	padding: var(--size-3);

	&__strong {
		font-weight: var(--font-weight-6);
		color: var(--color-text);
	}
}
