.cmp-pagination {
  display: flex;
  justify-content: start;
  align-items: stretch;
  position: relative;
  z-index: var(--z-3);

  font-family: var(--font-monospace);
  font-stretch: var(--font-stretch-10);

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:  hsl(var(--color-mode-gray-000-hsl) / 80%);
    background-color: hsl(var(--color-mode-gray-000-hsl) / 10%);
    height: 1.25ch;
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-2);
    aspect-ratio: 1 / 1;
    overflow: hidden;

    &--prev {
      border-radius: var(--radius-1) 0 0 var(--radius-1);
    }

    &--next {
      border-radius: 0 var(--radius-1) var(--radius-1) 0;
    }

    &--inactive {
      cursor: not-allowed;
      color: hsl(var(--color-mode-gray-000-hsl) / 10%);
    }
  }

  &__status {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--color-mode-gray-100-hsl) / 75%);
    padding-inline: var(--space-3);
  }

  &__stats-text {
    font-weight: var(--font-weight-6);
    text-align: center;
  }

  &__page-count {
    font-weight: var(--font-weight-9);

    &--active {

    }

    &--total {

    }
  }
}
