.cmp-pagination {
  display: grid;
  grid-template-columns: 8rem 1fr 8rem;
  justify-content: space-between;
  border-radius: 0.125rem;

  position: relative;
  z-index: var(--z-3);

  &__link {
    text-align: center;
    display: block;
    background: var(--simple-gradient);
    background-size: auto 200%;
    padding: var(--space-sm) var(--space-lg);
    font-variation-settings: var(--primary-var-semibold);
    text-decoration: none;
    color: var(--color-white);
    transition: background-position-y var(--animation-duration) linear;

    &[href] {
      border-color: var(--color-primary);

      @media (prefers-color-scheme: dark) {
        border-color: var(--color-secondary);
      }
    }

    &[href]:hover {
      background-position-y: 100%;
    }

    &--prev {
      border-radius: 0.125rem 0 0 0.125rem;
      border-right: none;
    }

    &--next {
      border-radius: 0 0.125rem 0.125rem 0;
      border-left: none;
    }

    &--inactive {
      color: inherit;
      color: var(--color-gray-3);
      background: none var(--color-gray-10);
      cursor: default;
    }
  }

  &__status {
    color: var(--color-gray-3);
    text-align: center;
    flex-grow: 2;
    background-color: var(--color-gray-15);
    padding: var(--space-sm) var(--space-lg);
  }
}
