.cmp-settings {
	.no-js & {
		display: none;
	}

	display: inline-flex;
	margin-top: var(--size-6);
	margin-inline-start: var(--size-6);
	gap: var(--size-4);

	@media (--lg-min) {
		margin-inline-start: 0;
	}

	&__list {
		font-size: var(--font-size-1);
		padding: var(--size-1);
		border: 1px solid var(--grey-invert-2);
		border-radius: 2em;
		display: inline-grid;
		list-style: '';
		grid-template-columns: 1fr 1fr 1fr;
		gap: var(--size-1);
		position: relative;

		&::before {
			content: '';
			position: absolute;
			width: 2em;
			height: 2em;
			border-radius: var(--radius-round);
			background-color: var(--color-text);
			top: var(--size-1);
			left: var(--size-1);
			transform: translateX(calc(var(--active-index, 0) * (2em + var(--size-1))));
			transition: transform 200ms ease-in-out;
		}
	}

	&__item {
		display: inline-block;
	}

	&__mode-button {
		height: 2em;
		width: 2em;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: var(--radius-round);
		position: relative;
		z-index: 1;

		&:not(#{&}--active):hover {
			background-color: var(--grey-invert-1);
		}

		&--active {
			color: var(--color-surface);
		}
	}

	&__feed-link {
		font-family: var(--font-code);
		font-weight: var(--font-weight-3);
		font-stretch: var(--font-stretch-125);
		font-size: var(--font-size-1);
		padding: var(--size-1) var(--size-3);
		border: 1px solid var(--grey-invert-2);
		border-radius: 2em;
		display: inline-grid;
		grid-template-columns: 21px auto;
		align-self: stretch;
		align-items: center;
		justify-content: center;
		list-style: '';
		gap: var(--size-1);
		height: 2em;
		line-height: var(--font-lineheight-00);

		&:hover {
			color: var(--color-surface);
			background-color: var(--color-text);
			border-color: var(--color-text);
		}
	}
}
