.cmp-site-header {
	display: block;
	padding: var(--size-4) 0;
	overflow-x: clip;
	margin-block-end: min(20vw, var(--size-12));

	&__layout {
		position: relative;
		display: flex;
	}

	&__title {
		flex-grow: 2;
		font-size: clamp(
			var(--font-size-4),
			10vw,
			var(--font-size-8));
		position: relative;

		&::before {
			content: '';
			display: block;
			aspect-ratio: 1 / 1;
			position: absolute;
			inset: calc(var(--size-4) * -1);
			max-inline-size: 32rem;
			background-color: oklch(var(--base-white-oklch) / 0.9);
			backdrop-filter: blur(0.25rem);
			mask-image: radial-gradient(circle at 0% 0%, #000 45%, #0000 calc(45% + 1px));
			@media (--sm-min) {
				all: unset;
			}
		}
	}

	&__title-link {
		font-weight: var(--font-weight-5);
		font-stretch: var(--font-stretch-12);
		display: block;
		color: var(--color-header-title);

	}

	&__name-mark {
		display: block;
		position: relative;
	}

	&__first-name,
	&__last-name {
		display: block;
		font-family: var(--font-body);
		font-weight: var(--font-weight-5);
		font-stretch: var(--font-stretch-11);
		line-height: 1;
	}

	&__first-name {

	}

	&__last-name {

	}

	&__slogan {
		color: var(--color-header-slogan);
		display: block;
		margin-block-start: var(--size-1);
		text-transform: lowercase;
		font-size: 50%;
		font-family: var(--font-code);
		font-weight: var(--font-weight-2);
	}

	&__slogan-line {
		display: block;
	}
}
