.cmp-site-footer {
  --radius: var(--radius-3);
  --short-radius: var(--radius-2);
  margin-block: var(--size-11) var(--size-8);

  @media (--md-min) {
    --radius: var(--radius-4);
    --short-radius: var(--radius-3);
  }

  &__bottom-text {
    font-family: var(--font-code);
    font-weight: var(--font-weight-3);
    font-size: var(--size-4);
    font-stretch: var(--font-stretch-11);
    color: var(--grey-invert-6);
    text-transform: lowercase;
    text-align: center;
    margin-block: var(--size-10);
  }

  &__list {
    --gap: var(--size-5);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin-block-end: var(--size-10);
    list-style: "";

    @media (--md-min) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
    }
  }

  &__item {
    text-align: center;

    @media (--md-min) {
      & + &:not(#{&}--accessibility-statement)::before {
        color: var(--grey-invert-3);
        display: inline-block;
        content: "•";
        margin-inline-end: var(--gap);
      }

      &--accessibility-statement {
        order: 1;
        flex-basis: 100%;
      }
    }
  }

  &__link {
    font-family: var(--font-code);
    font-weight: var(--font-weight-3);
    font-size: var(--size-4);
    font-stretch: var(--font-stretch-11);
    color: var(--color-text);
    text-decoration-thickness: 1px;
    text-decoration-line: underline;
    text-underline-offset: 0.09em;

    &:hover {
      color: var(--color-link-text);
      text-decoration-color: color-mix(
        in oklch,
        var(--color-link-text) 15%,
        var(--color-text)
      );
    }
  }
}
