@use "../settings/breakpoints" as *;

.cmp-site-header {
	padding-block-start: var(--space-3);

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: var(--space-1);
	}

	&__title-link {
		display: block;
		text-decoration: none;
		flex: 1 1 auto;
	}

	&__title-container {
		width: 100%;
		container-name: logo;
		container-type: inline-size;
	}

	&__title {
		width: 100%;
		display: flex;
		gap: 0.5ch;
		font-size: clamp(
			var(--font-size-3),
			calc((3 / var(--bp-lg)) * 100vw),
			calc(3.5 / var(--bp-xl)) * var(--max-width));;
		--logo-size: 2.9625ch;
	}

	&__name-mark {
		display: block;
		position: relative;
	}

	&__first-name,
	&__last-name {
		width: 100%;
		display: block;
		text-transform: uppercase;
		font-family: var(--font-secondary);
		font-stretch: var(--font-stretch-10);
		font-weight: var(--font-weight-8);
		line-height: 1;
	}

	&__first-name {
		color: var(--color-mode-gray-13);
	}

	&__last-name {
		color: var(--color-mode-gray-16);
	}

	&__slogan {
		display: none;

		@container logo (min-width: 20rem) {
			color: var(--color-primary);
			text-align: end;
			font-size: 0.625ch;
			position: absolute;
			inset-block-start: 0.25ch;
			inset-inline-end: 0;
			text-align: end;
			display: block;
			text-transform: lowercase;
			font-family: var(--font-monospace);
			line-height: var(--font-lineheight-0);
			font-stretch: var(--font-stretch-9);
			font-weight: var(--font-weight-3);

		}
	}
}
