@use "../tools/visually-hidden" as visually-hidden;

.cmp-skip-link {
	@include visually-hidden.mixin;

	&:focus-visible {
		@include visually-hidden.mixin(revert);
		position: fixed;
		z-index: var(--layer-5);
		inset-block-start: var(--size-4);
		inset-inline-start: 50%;
		translate: -50% 0;
		background-color: var(--color-text);
		color: var(--color-surface);
		font-family: var(--font-body);
		font-stretch: var(--font-stretch-11);
		font-weight: var(--font-weight-5);
		font-size: var(--font-size-4);
		padding: var(--size-2) var(--size-4);

		[dir="rtl"] & {
			translate: 0 -50%;
		}
	}
}
