.cmp-title {
  font-family: var(--font-secondary);
  font-variation-settings: var(--font-wght-8), var(--font-wdth-10);
  font-size: clamp(
    var(--font-size-4),
    calc((var(--font-size-6-base) / var(--bp-lg)) * 100vw),
    var(--font-size-9)
  );
  text-transform: uppercase;
  line-height: var(--font-lineheight-0);
  margin: 0 0 var(--space-lg);
  color: var(--color-text);
}
