<span class="cmp-book-page__stars cmp-book-page__stars--{{book.rating}}" aria-label="{{book.rating}} out of 5 stars">
	{% include "icons/star.svg" %}
	{% include "icons/star.svg" %}
	{% include "icons/star.svg" %}
	{% include "icons/star.svg" %}
	{% include "icons/star.svg" %}
</span>
