<span class="util-visually-hidden">{{book.rating}} out of 5 stars</span>
<span class="cmp-book-page__stars cmp-book-page__stars--{{book.rating}}" aria-hidden="true">
	{% include "icons/star.svg" %}
	{% include "icons/star.svg" %}
	{% include "icons/star.svg" %}
	{% include "icons/star.svg" %}
	{% include "icons/star.svg" %}
</span>
