	<div class="obj-max-width">
<footer class="cmp-site-footer">
		<p class="cmp-site-footer__content">Like what you see? ☕️ <a href="https://www.buymeacoffee.com/zastrow" class="cmp-site-footer__link">Buy me a coffee</a>!</p>
		<br>
		<p class="cmp-site-footer__content">Made in <a href="https://cottonbureau.com/products/ohio-4" class="cmp-site-footer__link">Ohio</a>.</p>
</footer>
	</div>
