	<div class="obj-max-width">
<footer class="cmp-site-footer">
	<ul class="cmp-site-footer__list">
		<li class="cmp-site-footer__item">
			<a href="https://www.buymeacoffee.com/zastrow" class="cmp-site-footer__link cmp-site-footer__link--coffee">
				{% include "icons/coffee.svg" %}
				<span class="cmp-site-footer__link-text">Buy me a coffee</span>
			</a>
		</li>
		<li class="cmp-site-footer__item">
			<a href="https://mastodon.social/@zastrow" class="cmp-site-footer__link cmp-site-footer__link--mastodon">
				{% include "icons/mastodon.svg" %}
				<span class="cmp-site-footer__link-text">Mastodon</span>
			</a>
		</li>
		<li class="cmp-site-footer__item">
			<a href="https://github.com/zastrow" class="cmp-site-footer__link cmp-site-footer__link--github">
				{% include "icons/github.svg" %}
				<span class="cmp-site-footer__link-text">GitHub</span>
			</a>
		</li>
		<li class="cmp-site-footer__item">
			<a href="https://dribbble.com/zastrow" class="cmp-site-footer__link cmp-site-footer__link--dribbble">
				{% include "icons/dribbble.svg" %}
				<span class="cmp-site-footer__link-text">Dribbble</span>
			</a>
		</li>
		<li class="cmp-site-footer__item">
			<a href="https://codepen.io/zastrow" class="cmp-site-footer__link cmp-site-footer__link--codepen">
				{% include "icons/codepen.svg" %}
				<span class="cmp-site-footer__link-text">CodePen</span>
			</a>
		</li>
		<li class="cmp-site-footer__item">
			<a href="https://www.linkedin.com/in/philip-zastrow/" class="cmp-site-footer__link cmp-site-footer__link--linkedin">
				{% include "icons/linkedin.svg" %}
				<span class="cmp-site-footer__link-text">LinkedIn</span>
			</a>
		</li>
		<li class="cmp-site-footer__item">
			<a href="https://cottonbureau.com/products/ohio-4" class="cmp-site-footer__link cmp-site-footer__link--ohio">
				{% include "icons/ohio.svg" %}
				<span class="cmp-site-footer__link-text">Made in Ohio</span>
			</a>
		</li>
	</ul>
	<p class="cmp-site-footer__bottom-text">Designed in the browser.</p>
</footer>
	</div>
