<div class="cmp-site-header">
	<div class="obj-width-limiter">
		<nav class="cmp-nav">
			<a href="/" class="cmp-site-header__title">
				<div class="cmp-logo">
					<div class="cmp-logo__top"></div>
					<div class="cmp-logo__bottom"></div>
					<div class="cmp-logo__diagonal"></div>
				</div>
				<span class="cmp-site-header__name-mark">
					<span class="cmp-site-header__first-name">Philip</span>
					<span class="cmp-site-header__last-name">Zastrow</span>
					<span class="cmp-site-header__slogan">Code<span aria-label="and">+</span><br>Design</span>
				</span>
			</a>
			<ul class="cmp-nav__list">
				{% for item in nav %}
					<li class="cmp-nav__item">
						<a href={{item.link}} class="cmp-nav__link">{{ item.name }}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>
