<header class="cmp-site-header">
	<div class="obj-max-width">
		<div class="cmp-site-header__layout">
			<div class="cmp-site-header__title-container js-header-title">
				<{% if layout == "home" %}h1{% else %}p{% endif %} class="cmp-site-header__title">
					<a href="/" rel="home" class="cmp-site-header__title-link ">
						<span class="cmp-site-header__name-mark">
							<span class="cmp-site-header__first-name">Philip</span>
							<span class="cmp-site-header__last-name">Zastrow</span>
							<span class="cmp-site-header__slogan" aria-hidden="true">
								<span class="cmp-site-header__slogan-line">Accessibility</span>
								<span class="cmp-site-header__slogan-line">Engineering</span>
								<span class="cmp-site-header__slogan-line" aria-label="User Interface Design">UI Design</span>
							</span>
						</span>
					</a>
				</{% if layout == "home" %}h1{% else %}p{% endif %}>
			</div>
			<div class="cmp-site-header__nav">
				<div class="cmp-nav-toggle">
					<button type="button" class="cmp-nav-toggle__button cmp-nav-toggle__button--open js-nav-open">
						<svg viewBox="0 0 30 24" height="24" width="30" class="cmp-nav-toggle__icon">
							<title>Open Navigation</title>
							<path d="M2 2h26 M2 12h26 M2 22h16" stroke="currentcolor" stroke-width="3" stroke-linecap="round" vector-effect="non-scaling-stroke" />
						</svg>
					</button>
					<button type="button" class="cmp-nav-toggle__button cmp-nav-toggle__button--close js-nav-close">
						<svg viewBox="0 0 24 24" height="24" width="24" class="cmp-nav-toggle__icon">
							<title>Close Navigation</title>
							<path d="M2 2L22 22M2 22L22 2" stroke="currentcolor" stroke-width="3" stroke-linecap="round" vector-effect="non-scaling-stroke" />
						</svg>
					</button>
				</div>
				<div class="cmp-nav js-nav">
					<nav aria-label="Primary Site Links">
						<ul class="cmp-nav__list">
							{% for item in primary_nav %}
								<li class="cmp-nav__item">
									<a href="{{item.link}}" class="cmp-nav__link{% if page.url contains item.link %} cmp-nav__link--active{% endif %}" data-title="{{ item.name }}">{{ item.name }}</a>
								</li>
							{% endfor %}
						</ul>
					</nav>
					<div class="cmp-settings js-mode-list">
						<h3 id="color_settings" class="util-visually-hidden">Color Setting</h3>
						<nav aria-labelledby="color_settings">
							<ul class="cmp-settings__list">
								<li class="cmp-settings__item">
									<button class="cmp-settings__mode-button cmp-settings__mode-button--auto js-mode-auto">
										<span class="util-visually-hidden">System</span>
										{% include "icons/switch.svg" %}
									</button>
								</li>
								<li class="cmp-settings__item">
									<button class="cmp-settings__mode-button cmp-settings__mode-button--light js-mode-light">
										<span class="util-visually-hidden">Light</span>
										{% include "icons/sun.svg" %}
									</button>
								</li>
								<li class="cmp-settings__item">
									<button class="cmp-settings__mode-button cmp-settings__mode-button--dark js-mode-dark">
										<span class="util-visually-hidden">Dark</span>
										{% include "icons/moon.svg" %}
									</button>
								</li>
							</ul>
						</nav>
						<h3 id="feed_settings" class="util-visually-hidden">RSS Feed</h3>
						<nav aria-labelledby="feed_settings">
							<a href="/feed.xml" class="cmp-settings__feed-link">
								{% include "icons/feed.svg" %} RSS
							</a>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
