<header class="cmp-site-header">
	<div class="obj-max-width">
		<div class="cmp-site-header__layout">
			<div class="cmp-site-header__title-container">
				<{% if layout == "home" %}h1{% else %}p{% endif %} class="cmp-site-header__title">
					<a href="/" rel="home" class="cmp-site-header__title-link">
						<span class="cmp-site-header__name-mark">
							<span class="cmp-site-header__first-name">Philip</span>
							<span class="cmp-site-header__last-name">Zastrow</span>
							<span class="cmp-site-header__slogan">
								<span class="cmp-site-header__slogan-line">Accessibility</span>
								<span class="cmp-site-header__slogan-line">Engineering</span>
								<span class="cmp-site-header__slogan-line" aria-label="User Interface Design">UI Design</span>
							</span>
						</span>
					</a>
				</{% if layout == "home" %}h1{% else %}p{% endif %}>
			</div>
			<div class="cmp-site-header__nav">
				<div class="cmp-nav-toggle">
					<button type="button" class="cmp-nav-toggle__button cmp-nav-toggle__button--open js-nav-open">
						<svg viewBox="0 0 30 24" height="24" width="30" class="cmp-nav-toggle__icon">
							<path d="M2 2h26 M2 12h26 M2 22h16" stroke="currentcolor" stroke-width="3" stroke-linecap="round" vector-effect="non-scaling-stroke" />
						</svg>
					</button>
					<button type="button" class="cmp-nav-toggle__button cmp-nav-toggle__button--close js-nav-close">
						<svg viewBox="0 0 24 24" height="24" width="24" class="cmp-nav-toggle__icon">
							<path d="M2 2L22 22M2 22L22 2" stroke="currentcolor" stroke-width="3" stroke-linecap="round" vector-effect="non-scaling-stroke" />
						</svg>
					</button>
				</div>
				<nav class="cmp-nav js-nav">
					<ul class="cmp-nav__list">
						{% for item in nav %}
							<li class="cmp-nav__item">

								<a href="{{item.link}}" class="cmp-nav__link{% if page.url contains item.link %} cmp-nav__link--active{% endif %}" data-title="{{ item.name }}">{{ item.name }}</a>
							</li>
						{% endfor %}
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
