<nav>
	<a href="/" rel="home">Philip Zastrow</a>
	<button type="button">
		<svg viewBox="0 0 30 24" height="24" width="30">
			<path d="M2 2h26 M2 12h26 M2 22h16" stroke="currentcolor" stroke-width="4" stroke-linecap="round" />
		</svg>
	</button>
	<ul>
		{% for item in nav %}
			<li>
				<a href={{item.link}} data-title="{{ item.name }}">{{ item.name }}</a>
			</li>
		{% endfor %}
	</ul>
</nav>
