---
title: Résumé
layout: page
permalink: /resume/index.html
---
<div class="cmp-resume">

<h2 class="cmp-resume__heading">
	Career Objective
</h2>

{% markdown %}
As an accomplished frontend engineer, I have a unique blend of design and development skills, honed over 20 years in the industry. My focus is on bridging web development and UI design, complemented by a certification as a Web Accessibility Specialist, underscoring my commitment to creating inclusive web interfaces. I am eager to find a challenging role on a collaborative team, where I can utilize my extensive skill set to foster innovation and growth.
{% endmarkdown %}

<h2 class="cmp-resume__heading">
	Recent Experience
</h2>

<div class="cmp-resume__job-header">
	<h3 class="cmp-resume__company">Sparkbox</h3>
	<p class="cmp-resume__job-position">Developer <small class="cmp-resume__job-position-retitled">(née Frontend Designer)</small></p>
	<p class="cmp-resume__job-dates">July 2013 to Present</p>
</div>

{% markdown %}
- Act as the technical lead for projects, including architecting, implementing, and testing scalable Node.js solutions for financial institutes, retail e-commerce web applications, and various design systems, including [University of Georgia](/projects/#{{ 'University of Georgia' | slugify }}).
- Partner with design system teams to implement solutions for continuous work, using technologies such as Storybook, GitHub Actions, and Zeroheight, as well as pair with junior developers to enhance their code review skills.
- Work jointly with UI platform members to create solutions using the latest CSS techniques and Figma prototyping, presenting design concepts to internal and external groups.
- Mentor and guide team members on active projects and career growth, sharing expertise in development technologies, tools, and processes.
- Train new developers through Full-Stack and Frontend Apprenticeships, fostering a culture of learning and improvement within the team.
- Collaborate closely with project managers through Agile processes including sprint planning, card writing, and managing work among development team members while growing our development process and culture.
- Provide guidance on design system governance, documentation, and adoption strategies, working closely with design system product owners to ensure optimal operation.
- Conduct accessibility audits of websites and dynamic web apps, delivering a detailed breakdown of issues and a written remediation in accordance with at least WCAG 2.1 AA accessibility guidelines.
- Contributed to open source projects, including as lead developer for the [Design Systems Survey](/projects/#{{ 'Design Systems Survey' | slugify }}) website—a Gatsby-based system building custom designed results for each survey from 2019 through 2022.
- Contribute as a thought leader, writing several articles on web development with an emphasis on web standards, accessibility, and best practices, in publications such as in [Net Magazine](https://www.creativebloq.com/web-design/container-based-rwd-element-queries-11618978), [Shopify Partners](https://www.shopify.com/partners/blog/css-tools), and [Sparkbox Foundry](https://sparkbox.com/foundry/author/philip_zastrow).
{% endmarkdown %}

<div class="cmp-resume__job-header">
	<h3 class="cmp-resume__company">University of Notre Dame</h3>
	<p class="cmp-resume__job-position">Web Designer</p>
	<p class="cmp-resume__job-dates">March 2011 to June 2013</p>
</div>

{% markdown %}
- Designed and coded dozens of websites for the University and its departments and institutions, including the [primary edu site](/projects/#{{ 'University of Notre Dame' | slugify }}).
- Collaborated with project managers to create a workflow process to optimize for Responsive Web Design.
{% endmarkdown %}

</div>
