:not(pre) > :where(code):not([class]) {
	color: var(--yellow-10);
	background-color: var(--yellow-0);
	padding: 0.25ch;
	border: var(--border-size-1) var(--yellow-2) solid;
	border-radius: var(--radius-2);
}
