:where(h1,h2,h3,h4,h5,h6):not([class]) {
  margin: 1em 0 0.5em;

  &:first-child {
    margin: 0 0 0.5em;
  }
}

h1:not([class]) {
  font-family: var(--font-secondary);
  font-size: var(--font-9);
}

h2:not([class]) {
  font-family: var(--font-secondary);
  font-size: var(--font-8);
}

h3:not([class]) {
  font-size: var(--font-size-6);
}

h4:not([class]) {
  font-size: var(--font-size-4);
}

h5:not([class]) {
  font-size: var(--font-size-3);
}

h6:not([class]) {
  font-size: var(--font-size-2);

}
