:where(h1,h2,h3,h4,h5,h6):not([class]) {
  font-family: var(--font-secondary);
  font-variation-settings: var(--secondary-var-heavy);
  text-transform: uppercase;
  margin: 1em 0 0.5em;

  &:first-child {
    margin: 0 0 0.5em;
  }
}

h1:not([class]) {
  font-size: var(--font-xl);
}

h2:not([class]) {
  font-size: var(--font-xl);
}

h3:not([class]) {
  font-size: var(--font-lg);
}

h4:not([class]) {
  font-size: var(--font-lg);
}

h5:not([class]) {
  font-size: var(--font-md);
}

h6:not([class]) {
  font-size: var(--font-md);

}
