:where(kbd):not([class]) {
	display: inline-flex;
	font-family: inherit;
	place-content: center;
	color: var(--gray-10);
	background-color: var(--gray-0);
	padding-inline: 0.5ch;
	margin-inline: 0.125ch;
	border: var(--border-size-1) var(--gray-2) solid;
	border-radius: var(--radius-2);
	background-image: linear-gradient(0deg, var(--gray-0), var(--gray-2));
	background-color: var(--gray-0);
	box-shadow:
		inset 0 0 0.125ch var(--gray-3),
		0 0.125ch 0.125ch 0.125ch var(--gray-4),
		0 0.125ch 0 0.125ch var(--gray-5),
		var(--shadow-2);
}
