:where(ul, ol):not([class]) {
	all: unset;
	display: revert;
	margin-block: var(--size-3);
	padding-inline-start: var(--size-4);
}

:where(ul):not([class]) {

}

:where(li):not([class]) {
	font-size: clamp(var(--font-size-1), 5vw, var(--font-size-3));
	max-inline-size: var(--size-content-3);
	line-height: var(--font-lineheight-3);
}

:where(li):not([class]) + :where(li):not([class]) {
	margin-block-start: var(--size-2);
}
