@use "../settings/breakpoints" as *;
@use "root/colors" as *;
@use "root/fonts" as *;
@use "root/z-index" as *;
@use "root/spacing" as *;
@use "root/border-radius" as *;

:root {
  /* Breakpoint Values */
  @each $key, $val in $breakpoints {
    --bp-#{$key}: #{$val};
  }

  @each $key, $val in $breakpoints {
    --bp-#{$key}-width: #{$val}rem;
  }
  --max-width: var(--bp-max-width);

  @include colors;
  @include fonts;
  @include z-index;
  @include spacing;
  @include border-radius;

  /* Other Props */
  --gradient-padding: 3rem;
  --deg: 170deg;
  --gradient: linear-gradient(var(--deg),
    var(--color-tertiary) 0%,
    var(--color-secondary) 10%,
    var(--color-primary) 75%,
    var(--color-quarternary) 100%
  );

  --simple-gradient:
    linear-gradient(
      180deg,
      var(--color-secondary),
      var(--color-primary)
    );

  --animation-duration: 250ms;
  --animation-timing: cubic-bezier(0,1,0.5,1);

  @media (min-width: $lg) {
    --gradient-padding: 10vh;
  }
}
