.obj-page {
	display: flex;
	min-height: 100vh;
	flex-direction: column;

	&__main {
		flex-grow: 2;

		@media (--lg-min) {
			position: relative;
			z-index: var(--layer-4);
		}
	}
}

.obj-max-width {
	margin-inline: auto;
	width: var(--width-max);
	display: block;
}
