---
layout: page
title: Blogroll
---
<p>If you like my writing, you may like these folks, too. They are various folks from areas in the Web and Tech Industry. Check out their feeds individually, or <a href="/blogroll/index.opml" download>download this OPML file</a> and add all of them to your feed reader of choice.</p>

<p>Check back regularly as I will add new blogs as I discover them and have the impulse to share!</p>

<div class="obj-grid obj-grid--2-col@sm obj-grid--row-gap-7@md obj-grid--3-col@lg obj-grid--row-gap-8@lg util-margin-block-6 util-margin-block-10@lg">
	{%- assign blogroll_by_name = blogroll.blogroll | sort: "name" -%}
	{%- for item in blogroll_by_name -%}
	<div class="cmp-blogroll">
		<h2 class="cmp-blogroll__name">{{item.name}}</h2>
		<a href="{{item.link}}" class="cmp-blogroll__button">
			{% include "icons/globe.svg" %}
			<span class="cmp-blogroll__button-text">Website</span>
		</a>
		<a href="{{item.feed}}" class="cmp-blogroll__button">
			{% include "icons/feed.svg" %}
			<span class="cmp-blogroll__button-text">RSS Feed</span>
		</a>
	</div>
	{%- endfor -%}
</div>
