---
permalink: /feed/books/index.xml
metadata:
  title: Philip Zastrow’s Reading List
  subtitle: These are the books I’ve read recently
  language: en
  author:
    name: Philip Zastrow
    email: "books@zastrow.co"
---

<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.url }}">
	<title>{{ metadata.title }}</title>
	<subtitle>{{ metadata.subtitle }}</subtitle>
	<link href="{{ site_url }}{{ permalink }}" rel="self"/>
	<link href="{{ site_url }}"/>
	<updated>{{ collections.books | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>{{ site_url }}</id>
	<author>
		<name>{{ metadata.author.name }}</name>
		<email>{{ metadata.author.email }}</email>
	</author>
	{%- for post in collections.books | reverse -%}
	{%- set absolutePostUrl = post.url | absoluteUrl(site_url) -%}
	<entry>
		<title>{{ post.data.title }}</title>
		<link href="{{ absolutePostUrl }}"/>
		<updated>{{ post.date | dateToRfc3339 }}</updated>
		<id>{{ absolutePostUrl }}</id>
		<content xml:lang="{{ metadata.language }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
	</entry>
	{%- endfor %}
</feed>
