display_url: https://zastrow.co
publish_mode: simple
backend:
  name: github
  branch: main
  repo: "zastrow/zastrow.co"
media_folder: "src/public/assets"
public_folder: "/assets"
search: false
slug:
  encoding: "ascii"
  clean_accents: true
  sanitize_replacement: "-"
collections:
  - name: "posts"
    label: "Blog Posts"
    folder: "src/content/posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Publish Date", name: "date", widget: "datetime"}
      - {label: "Updated Date", name: "updated", widget: "datetime", required: false}
      - {label: "Preview", name: "preview", widget: "text", required: false}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Permalink", name: "permalink", widget: "string", required: false}
      - {label: "Aliases", name: "aliases", widget: "list", required: false}
  - name: "books"
    label: "Books"
    folder: "src/content/books"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    sortable_fields: ["date", "title", "rating"]
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Author", name: "author", widget: "string"}
      - {label: "ISBN", name: "isbn", widget: "string"}
      - {label: "Date Finished", name: "date", widget: "datetime", date_format: "YYYY-MM-DD", time_format: false}
      - label: "Rating"
        name: "rating"
        widget: "select"
        options:
          - {label: "1 Star", value: 1}
          - {label: "2 Stars", value: 2}
          - {label: "3 Stars", value: 3}
          - {label: "4 Stars", value: 4}
          - {label: "5 Stars", value: 5}
      - {label: "Review", name: "body", widget: "markdown", required: false}
      - {label: "Layout", name: "layout", widget: "hidden", default: "book"}
  - name: pages
    label: "Pages"
    folder: "src/content/pages"
    create: true
    slug: "{{slug}}"
    fields:
      - {label: "Title", name: "title", widget: "string"}
      - {label: "Permalink", name: "permalink", widget: "string", default: "/_ADD_SLUGIFIED_NAME_/index.html"}
      - {label: "Body", name: "body", widget: "markdown"}
      - {label: "Publish Date", name: "date", widget: "datetime", required: false}
      - {label: "Updated Date", name: "updated", widget: "datetime", required: false}
      - {label: "Display Update Message", name: "display_update", widget: "boolean", default: false}
      - {label: "Layout", name: "layout", widget: "hidden", default: page}
      - {label: "Aliases", name: "aliases", widget: "list", required: false}
  - name: now
    label: "Now"
    files:
      - name: now
        label: "Now"
        file: "src/content/now.md"
        fields:
          - {label: "Title", name: "title", widget: "string"}
          - {label: "Updated Date", name: "updated", widget: "datetime"}
          - {label: "Body", name: "body", widget: "markdown"}
  - name: blogroll
    label: "Blogroll"
    files:
      - name: "blogroll"
        label: "Blogroll"
        file: "src/data/blogroll.json"
        fields:
          - label: Blogroll
            name: blogroll
            widget: list
            fields:
              - {label: Name, name: name, widget: string}
              - {label: Site Link, name: link, widget: string}
              - {label: Feed Link, name: feed, widget: string}
  - name: projects
    label: "Projects"
    files:
      - name: "projects"
        label: "Projects"
        file: "src/data/projects.json"
        fields:
          - label: Projects
            name: projects
            widget: list
            fields:
              - {label: Name, name: name, widget: string}
              - {label: Summary, name: summary, widget: string}
              - {label: Description, name: desc, widget: string}
              - {label: Roles, name: roles, widget: list}
              - {label: Technology, name: technology, widget: list}
              - label: Links
                name: links
                widget: list
                fields:
                  - {label: Button, name: text, widget: string}
                  - {label: Link, name: link, widget: string}
  - name: nav
    label: "Navigation"
    files:
      - name: nav
        label: Navigation
        file: "src/data/nav.json"
        fields:
          - label: Primary Nav
            name: primary_nav
            widget: list
            fields:
              - {label: Name, name: name, widget: string}
              - {label: Link, name: link, widget: string}
          - label: Prefooter Nav
            name: prefooter
            widget: list
            fields:
              - {label: Name, name: name, widget: string}
              - {label: Link, name: link, widget: string}
