@use "../tools/get-query" as mq;
@use "../tools/colors" as color;

:scope {
	--font-body: "Mona Sans", var(--font-sans);
	--font-title: "Hubot Sans", var(--font-sans);
	--font-code: "Monaspace Neon", var(--font-mono);

	--layer-00: -1;
	--layer-0: 0;
	--layer-1: 100;
	--layer-2: 200;
	--layer-3: 300;
	--layer-4: 400;
	--layer-5: 500;

	@include color.base;
	@include color.mode('light');

	@media (--OSdark) {
		@include color.mode('dark');
	}

	// Open Props Resets
	@for $i from 1 to 10 {
		--layer-#{$i}: #{100 * $i};
	}

	@for $i from 1 to 12 {
		--font-stretch-#{$i}: #{75% + (($i - 1) * 5)};
	}

	@each $key, $value in mq.$queries {
		--query-#{$key}: #{$value};
	}

	--width-min: calc(100% - (var(--size-3) * 2));
	--width-max: min(var(--width-min), var(--query-xl));
}

.mode-light {
	@include color.mode('light');
}

.mode-dark {
	@include color.mode('dark');
}
