@use "../settings/breakpoints" as *;

.obj-gradient-block {
	margin-block: var(--gradient-padding);
	padding: var(--gradient-padding) 0;
	position: relative;
	z-index: var(--z-1);

	&::before {
		$size: 4rem;
		content: '';
		display: block;
		position: absolute;
		inset: 0;
		position: absolute;
		z-index: calc(var(--z-1) - 1);
		background-image: var(--gradient);
		background-attachment: fixed;
		clip-path: polygon(
			0% 0%,
			100% var(--gradient-padding),
			100% calc(100% - var(--gradient-padding)),
			0% 100%
		);
	}
}

.obj-gradient-block__interior {
	position: relative;
	z-index: var(--z-2);
	margin: calc(var(--gradient-padding) * -0.5) 0 calc(var(--gradient-padding) * 0.25);
}

.obj-gradient-block__content {
	position: relative;
	z-index: var(--z-3);
	margin: calc(var(--gradient-padding) * -1.5) 0;
	padding: var(--space-md);
	border-radius: var(--radius-3);
	color: var(--color-text);
	background-color: var(--color-mode-gray-1);

	@media (min-width: $md) {
		padding: var(--space-lg);
	}

	@supports (backdrop-filter: blur(1px)) {
		backdrop-filter: blur(2rem);
		background-color: hsl(var(--color-mode-gray-2-hsl) / 75%);

		@media (prefers-color-scheme: dark) {
			background-color: hsl(var(--color-mode-gray-2-hsl) / 85%);
		}
	}
}
