@use 'sass:math';

@mixin colors {
	/* Color Variables	*/
	--color-primary-hsl: 335deg 80% 45%;
	--color-secondary-hsl: 20deg 80% 55%;
	--color-tertiary-hsl: 50deg 80% 65%;
	--color-quarternary-hsl: 300deg 80% 24%;
	--color-alt-hsl: 207deg 80% 50%;

	$gray: 20;
	$sat_shift: 0.125;
	$sat_total: ($gray * $sat_shift) + 5;
	$val_shift: math.div(100, $gray);

	/* Grays */
	--color-mode-gray-000-hsl: 207deg 0% 0%;
	--color-mode-gray-100-hsl: 207deg 100% 100%;
	@for $i from 0 through $gray {
		$sat: ($sat_total - ($i * $sat_shift)) * 1%;
		$val: (100 - ($i * $val_shift)) * 1%;
		--color-mode-gray-#{$i}-hsl: 207deg #{$sat} #{$val};
	}

	--color-mode-gray-000: hsl(var(--color-mode-gray-000-hsl));
	--color-mode-gray-100: hsl(var(--color-mode-gray-100-hsl));
	@for $i from 0 through $gray {
		--color-mode-gray-#{$i}: hsl(var(--color-mode-gray-#{$i}-hsl));
	}

	@for $i from 0 through $gray {
		$sat: ($sat_total - ($i * $sat_shift)) * 1%;
		$val: (100 - ($i * 5)) * 1%;
		--color-gray-#{$i}-hsl: 207deg #{$sat} #{$val};
	}

	@for $i from 0 through $gray {
		--color-gray-#{$i}: hsl(var(--color-mode-gray-#{$i}-hsl));
	}

	--color-primary: hsl(var(--color-primary-hsl));
	--color-secondary: hsl(var(--color-secondary-hsl));
	--color-tertiary: hsl(var(--color-tertiary-hsl));
	--color-quarternary: hsl(var(--color-quarternary-hsl));
	--color-alt: hsl(var(--color-alt-hsl));
	--color-light: var(--color-mode-gray-1);
	--color-dark: var(--color-mode-gray-16);
	--color-white: hsl(207deg 0% 100%);
	--color-black: hsl(207deg 0% 0%);

	--color-link: var(--color-alt);
	--link-underline: hsl(var(--color-alt-hsl) / 40%);

	--color-visited: hsl(300deg 80% 40%);
	--visited-underline: hsl(300deg 80% 40% / 40%);

	--color-inline-code: hsl(20deg 90% 30%);
	--color-inline-code-background: hsl(var(--color-tertiary-hsl) / 40%);

	/* Color Areas */
	--color-background: var(--color-mode-gray-1);
	--color-midtone: var(--color-mode-gray-10);
	--color-text: var(--color-mode-gray-#{$gray - 1});
	--color-link: var(--color-alt);
	--color-bg-50: hsl(var(--color-mode-gray-0-hsl) / 50%);

	--color-planning: var(--color-primary);
	--color-project-lead: var(--color-quarternary);
	--color-design: var(--color-tertiary);
	--color-development: var(--color-alt);

	/* Dark Mode */
	@media (prefers-color-scheme: dark) {
		--color-background: var(--color-mode-gray-3);
		--color-mode-gray-000-hsl: 207deg 100% 100%;
		--color-mode-gray-100-hsl: 207deg 0% 0%;
		@for $i from 0 through $gray {
			$sat: (($sat_total - $gray) + ($i * $sat_shift)) * 1%;
			$val: (($i * 5)) * 1%;
			--color-mode-gray-#{$i}-hsl: 207deg #{$sat} #{$val};
		}
	}
}
