@use "../../settings/breakpoints" as *;

@mixin fonts {
  /* Font Families */
  --font-primary: "Mona Sans", sans-serif;
  --font-secondary: "Hubot Sans", sans-serif;
  --font-monospace: "Monaspace Neon", monospace;

  /* Font Weights */
  @for $i from 1 through 9 {
    $value: $i * 100;
    --font-weight-#{$i}: #{$value};
  }

  @for $i from 1 through 9 {
    $value: $i * 100;
    --font-wght-#{$i}: 'wght' #{$value};
  }

  @for $i from 0 through 10 {
    $value: ($i * 5) + 75;
    --font-stretch-#{$i}: #{$value}%;
  }

  @for $i from 0 through 10 {
    $value: ($i * 5) + 75;
    --font-wdth-#{$i}: 'wdth' #{$value};
  }

  --font-lineheight-00: 0.75;
  --font-lineheight-0: 1.125;
  --font-lineheight-1: 1.25;
  --font-lineheight-2: 1.375;
  --font-lineheight-3: 1.5;
  --font-lineheight-4: 1.75;
  --font-lineheight-5: 2;

  --font-letterspacing-0: -.05em;
  --font-letterspacing-1: 0.025em;
  --font-letterspacing-2: 0.050em;
  --font-letterspacing-3: 0.075em;
  --font-letterspacing-4: 0.15em;
  --font-letterspacing-5: 0.5em;
  --font-letterspacing-6: 0.75em;
  --font-letterspacing-7: 1em;

  $font-sizes: (
    '00': 0.75,
    '0': 0.875,
    '1': 1,
    '2': 1.125,
    '3': 1.25,
    '4': 1.75,
    '5': 2.25,
    '6': 2.75,
    '7': 3.5,
    '8': 4.75,
    '9': 6
  );

  @each $key, $val in $font-sizes {
    --font-size-#{$key}-base: #{$val};
  }

  @each $key, $val in $font-sizes {
    --font-size-#{$key}: #{$val}rem;
  }

  @each $key, $val in $font-sizes {
    --font-size-fluid-#{$key}: clamp(var(--font-size-#{$key}),calc((var(--font-size-#{$key}-base) / var(--bp-lg)) * 100vw), calc((var(--font-size-#{$key}-base) / var(--bp-xl)) * var(--max-width)));
  }


// @media (min-width: $md) {
//     --font-xs-base: 0.75;
//     --font-sm-base: 1.125;
//     --font-md-base: 1.25;
//     --font-lg-base: 1.75;
//     --font-xl-base: 2.5;
//
//     --font-xs:
//       clamp(
//         0.875rem,
//         calc((var(--font-xs-base) / 60) * 100vw),
//         calc((var(--font-xs-base)  / 80) * var(--max-width))
//       );
//     --font-sm:
//       clamp(
//         1.125rem,
//         calc((var(--font-sm-base) / 60) * 100vw),
//         calc((var(--font-sm-base)  / 80) * var(--max-width))
//       );
//     --font-md:
//       clamp(
//         1.25rem,
//         calc((var(--font-md-base) / 60) * 100vw),
//         calc((var(--font-md-base)  / 80) * var(--max-width))
//
//       );
//     --font-lg:
//       clamp(
//         1.75rem,
//         calc((var(--font-lg-base) / 60) * 100vw),
//         calc((var(--font-lg-base)  / 80) * var(--max-width))
//
//       );
//     --font-xl:
//       clamp(
//         2.5rem,
//         calc((var(--font-xl-base) / 60) * 100vw),
//         calc((var(--font-xl-base)  / 80) * var(--max-width))
//       );
//   }
}
