@mixin fonts {
  /* Font Families */
  --font-primary: "Mona Sans", sans-serif;
  --font-secondary: "Hubot Sans", sans-serif;
  --font-monospace: "Monaspace Neon", monospace;

  /* Font Weights */
  --font-weight-1: 100;
  --font-weight-2: 200;
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  --font-weight-8: 800;
  --font-weight-9: 900;

  --font-wght-1: 'wght' 100;
  --font-wght-2: 'wght' 200;
  --font-wght-3: 'wght' 300;
  --font-wght-4: 'wght' 400;
  --font-wght-5: 'wght' 500;
  --font-wght-6: 'wght' 600;
  --font-wght-7: 'wght' 700;
  --font-wght-8: 'wght' 800;
  --font-wght-9: 'wght' 900;

  /* Font Stretch */
  --font-stretch-0: 75%;
  --font-stretch-1: 80%;
  --font-stretch-2: 85%;
  --font-stretch-3: 90%;
  --font-stretch-4: 95%;
  --font-stretch-5: 100%;
  --font-stretch-6: 105%;
  --font-stretch-7: 110%;
  --font-stretch-8: 115%;
  --font-stretch-9: 120%;
  --font-stretch-10: 125%;

  --font-wdth-0: "wdth" 75;
  --font-wdth-1: "wdth" 80;
  --font-wdth-2: "wdth" 85;
  --font-wdth-3: "wdth" 90;
  --font-wdth-4: "wdth" 95;
  --font-wdth-5: "wdth" 100;
  --font-wdth-6: "wdth" 105;
  --font-wdth-7: "wdth" 110;
  --font-wdth-8: "wdth" 115;
  --font-wdth-9: "wdth" 120;
  --font-wdth-10: "wdth" 125;

  /* Line Height */
  --font-lineheight-00: 0.75;
  --font-lineheight-0: 1.125;
  --font-lineheight-1: 1.25;
  --font-lineheight-2: 1.375;
  --font-lineheight-3: 1.5;
  --font-lineheight-4: 1.75;
  --font-lineheight-5: 2;

  /* Letter Spacing */
  --font-letterspacing-0: -0.05em;
  --font-letterspacing-1: 0.025em;
  --font-letterspacing-2: 0.050em;
  --font-letterspacing-3: 0.075em;
  --font-letterspacing-4: 0.15em;
  --font-letterspacing-5: 0.5em;
  --font-letterspacing-6: 0.75em;
  --font-letterspacing-7: 1em;

  --font-size-00-base: 0.75;
  --font-size-0-base: 0.875;
  --font-size-1-base: 1;
  --font-size-2-base: 1.125;
  --font-size-3-base: 1.25;
  --font-size-4-base: 1.75;
  --font-size-5-base: 2.25;
  --font-size-6-base: 2.75;
  --font-size-7-base: 3.5;
  --font-size-8-base: 4.75;
  --font-size-9-base: 6;

  --font-size-00: calc(var(--font-size-00-base) * 1rem);
  --font-size-0: calc(var(--font-size-0-base) * 1rem);
  --font-size-1: calc(var(--font-size-1-base) * 1rem);
  --font-size-2: calc(var(--font-size-2-base) * 1rem);
  --font-size-3: calc(var(--font-size-3-base) * 1rem);
  --font-size-4: calc(var(--font-size-4-base) * 1rem);
  --font-size-5: calc(var(--font-size-5-base) * 1rem);
  --font-size-6: calc(var(--font-size-6-base) * 1rem);
  --font-size-7: calc(var(--font-size-7-base) * 1rem);
  --font-size-8: calc(var(--font-size-8-base) * 1rem);
  --font-size-9: calc(var(--font-size-9-base) * 1rem);

  // Remap Old
  --font-xs: var(--font-size-0);
  --font-sm: var(--font-size-1);
  --font-md: var(--font-size-2);
  --font-lg: var(--font-size-4);
  --font-xl: var(--font-size-5);

  --font-size-fluid-00: clamp(var(--font-size-00),calc((var(--font-size-00-base) / var(--bp-lg)) * 100vw), calc((var(--font-size-00-base) / var(--bp-xl)) * var(--max-width)));
  --font-size-fluid-0: clamp(var(--font-size-0),calc((var(--font-size-0-base) / var(--bp-lg)) * 100vw), calc((var(--font-size-0-base) / var(--bp-xl)) * var(--max-width)));
  --font-size-fluid-1: clamp(var(--font-size-1),calc((var(--font-size-1-base) / var(--bp-lg)) * 100vw), calc((var(--font-size-1-base) / var(--bp-xl)) * var(--max-width)));
  --font-size-fluid-2: clamp(var(--font-size-2),calc((var(--font-size-2-base) / var(--bp-lg)) * 100vw), calc((var(--font-size-2-base) / var(--bp-xl)) * var(--max-width)));
  --font-size-fluid-3: clamp(var(--font-size-3),calc((var(--font-size-3-base) / var(--bp-lg)) * 100vw), calc((var(--font-size-3-base) / var(--bp-xl)) * var(--max-width)));
  --font-size-fluid-4: clamp(var(--font-size-4),calc((var(--font-size-4-base) / var(--bp-lg)) * 100vw), calc((var(--font-size-4-base) / var(--bp-xl)) * var(--max-width)));
  --font-size-fluid-5: clamp(var(--font-size-5),calc((var(--font-size-5-base) / var(--bp-lg)) * 100vw), calc((var(--font-size-5-base) / var(--bp-xl)) * var(--max-width)));
  --font-size-fluid-6: clamp(var(--font-size-6),calc((var(--font-size-6-base) / var(--bp-lg)) * 100vw), calc((var(--font-size-6-base) / var(--bp-xl)) * var(--max-width)));
  --font-size-fluid-7: clamp(var(--font-size-7),calc((var(--font-size-7-base) / var(--bp-lg)) * 100vw), calc((var(--font-size-7-base) / var(--bp-xl)) * var(--max-width)));
  --font-size-fluid-8: clamp(var(--font-size-8),calc((var(--font-size-8-base) / var(--bp-lg)) * 100vw), calc((var(--font-size-8-base) / var(--bp-xl)) * var(--max-width)));
  --font-size-fluid-9: clamp(var(--font-size-9),calc((var(--font-size-9-base) / var(--bp-lg)) * 100vw), calc((var(--font-size-9-base) / var(--bp-xl)) * var(--max-width)));
}
