@mixin spacing {
	--space-00: 0.125rem;
	--space-0: 0.25rem;
	--space-1: 0.5rem;
	--space-2: 1rem;
	--space-3: 2rem;
	--space-4: 4rem;
	--space-5: 6rem;
	--space-6: 8rem;

	--space-2xs: var(--space-00);
	--space-1xs: var(--space-0);
	--space-sm: var(--space-1);
	--space-md: var(--space-2);
	--space-lg: var(--space-3);
	--space-1xl: var(--space-4);
	--space-2xl: var(--space-5);
	--space-3xl: var(--space-6);
}
