<h2>About Me</h2>
<p>Hi! I’m Philip. I’m a Developer at <a href="https://sparkbox.com/">Sparkbox</a> with a passion for bridging design and development with a focus on HTML, CSS, and Accessibility.
<p>I help teach and train designers and developers through the <a href="http://apprentices.seesparkbox.com/">Sparkbox apprenticeship programs</a> and as an adjunct instructor at <a href="https://themodern.edu">The Modern College of&nbsp;Design</a>.</p>
<p>My writing on various web topics can be found on the <a href="http://seesparkbox.com/foundry/author/philip_zastrow">Sparkbox Foundry</a> or on <a href="/posts">my website</a>. I also have a <a href="https://www.digitalocean.com/community/tutorial_series/how-to-style-html-with-css">tutorial series about CSS</a> on the <a href="https://www.digitalocean.com/community">DigitalOcean Community</a>&nbsp;site.</p>
<p>I’m always looking for a <a href="/books">good book</a> to&nbsp;read. Lately, you can find me hanging out around the&nbsp;<a rel="me" href="https://mastodon.social/@zastrow">Fediverse</a>.</p>
