<section class="cmp-home-section" aria-labeledby="section-articles">
	{% for item in external_articles limit:1 %}
	<header class="cmp-home-section__header">
		<h2 class="cmp-home-section__title" id="section-articles">External Articles</h2>
		<p class="cmp-home-section__subtitle">An article I wrote on {{ item.source }}.</p>
	</header>
	<h3 class="cmp-home-section__post-title">
		<a href="{{ item.link }}" rel="external" class="cmp-home-section__post-link">
			{{ item.title }}
		</a>
	</h3>
	{% endfor %}
	<footer class="cmp-home-section__footer">
		<a href="/articles" class="cmp-home-section__footer-link">Read more external articles</a>
	</footer>
</section>
