<section class="cmp-home-section" aria-labelledby="section-instapaper">
	<header class="cmp-home-section__header">
		<h2 class="cmp-home-section__title" id="section-instapaper">Liked on Instapaper</h2>
		<p class="cmp-home-section__subtitle">A recently read article I found interesting.</p>
	</header>
	{% for item in instapaper.entries limit: 1  %}
	<h3 class="cmp-home-section__post-title">
		<a href="{{ item.link }}" class="cmp-home-section__post-link" rel="external">{{ item.title }}</a>
	</h3>
	{% endfor %}
	<footer class="cmp-home-section__footer">
		<a href="https://instapaper.com/p/zastrow" class="cmp-button" rel="external">See my Instapaper</a>
	</footer>
</section>
