---
layout-name: book
---
{% layout "default-layout" %}
{% block main %}
	<article>
		<header>
			<h2>
				{{ book.title }}
			</h2>
		</header>
		<img src="https://images-us.bookshop.org/ingram/{{ book.isbn }}.jpg">
		<a href="https://bookshop.org/book/{{ book.isbn }}" class="cmp-home-section__post-image" rel="external">
			Buy from Bookshop.org
		</a>
	</article>
{% endblock %}
