---
layout-name: book
---
{% layout "default-layout" %}
{% block main %}
	<article>
		<header>
			<h2>
				{{ book.title }}
			</h2>
		</header>
		<img src="https://images-us.bookshop.org/ingram/{{ book.isbn }}.jpg">
	</article>
{% endblock %}
