---
layout-name: book_list
pagination:
  data: read
  size: 10
  alias: books
permalink: "books/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
---
{% layout "default-layout" %}
{%- block skip_links %}
{% endblock -%}

{%- block main %}
	{% include 'list-header' %}

	{% include 'pagination' %}

	{%- for book in books -%}
		<article>
			<h2>
				<a href="/books/{{ book.date | date: '%Y-%m-%d' }}-{{ book.title | slugify }}">
					{{ book.title }}
				</a>
			</h2>
		</article>
	{% endfor %}

	{% include 'pagination' %}
{% endblock -%}
