---
layout-name: home
eleventyImport:
	collections: ["posts"]
---
{% layout "default-layout" %}

{%- block main %}

{% include "home/blog-posts" %}

<div class="obj-home-grid">
	<div class="obj-home-grid__column obj-home-grid__column--articles">
		{% include "home/external-articles" %}
	</div>
	<div class="obj-home-grid__column obj-home-grid__column--books">
		{% include "home/books" %}
	</div>
	<div class="obj-home-grid__column obj-home-grid__column--instapaper">
		{% include "home/instapaper" %}
	</div>
</div>

{% endblock -%}
