---
layout-name: page
---
{% layout "default-layout" %}

{%- block main %}
	<header class="cmp-list-header">
		<h1 class="cmp-list-header__title">{{title}}</h1>
	</header>
	{%- if updated -%}
	<p class="cmp-notice"><strong class="cmp-notice__strong">Updated:</strong> {{ updated | date: "%d %B %Y", time_zone }} at {{ updated | date: "%H:%M", time_zone }}</p>
	{%- endif -%}
	{{ content }}
{% endblock -%}
